.hg-theme-default {
    font-weight: 800;
    background-color: inherit;
    margin-top: 0.5em;
    max-width: 95vw;
}

.hg-theme-default .hg-row {
    justify-content: center;
}

.hg-theme-default .hg-button {
    background-color: gray;
    height: 3.5em;
    border: none;
    margin: 2px;
    padding: 3px;
    flex-grow: 0;
}

.hg-theme-default .hg-button.hg-standardBtn {
    width: 2.5em;
}

.hg-button.hg-functionBtn {
    width: 4em;
}

.hg-button-enter span {
    font-size: 0.8em;
}

.hg-button-bksp span {
    font-size: 1.1em;
}

.key-green {
    background-color: #538d4e !important;
}

.key-yellow {
    background-color: #b59f3b !important;
}

.key-gray {
    background-color: #333 !important;
}

@media (max-width: 960px) {
    .hg-theme-default .hg-button {
        font-size: 1.2em;
        padding: 2px;
        height: 3.5em;
        font-weight: 800;
    }

    .hg-theme-default .hg-button.hg-standardBtn {
        width: 2.5em;
    }
}

@media (max-width:600px) {
    .hg-button-bksp span {
        font-size: 1.8em;
    }

    .hg-theme-default .hg-button {
        margin: 1px;
    }

    .hg-theme-default .hg-row .hg-button {
        margin-right: 0.3em;
        height: 4em;
    }

    .hg-theme-default .hg-row .hg-button:not(:last-child) {
        margin-right: 0.3em;
    }
}